.filters-all>div{
    display: flex;
    gap: 30px
}
.filters-all>div>div select{
    border: 1px solid white;
    padding: 6px;
    width: 9rem;
    height: 40px;
    background-color: #24303F;
    border-radius: 5px;
}
.filters-all  {
    color: white;
}

.filters-all>div> :last-child {
    display: none;
}

/* .filters-all>div>div{
    background-color: green;
    padding: 5px;
} */